services:
  mariadb:
    build: ./mariadb
    container_name: mariadb
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    env_file:
      - ../secret/.env

  wordpress:
    build: ./wordpress
    container_name: wordpress
    volumes:
      - wordpress_data:/var/www/html
    depends_on:
      - mariadb
    networks:
      - inception
    env_file:
      - ../secret/.env

  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "443:443"
    depends_on:
      - wordpress
      - adminer
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception

  adminer:
    build: ./adminer
    container_name: adminer
    depends_on:
      - mariadb
    networks:
      - inception

networks:
  inception:
    driver: bridge

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/nweber/data/mariadb
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/nweber/data/wordpress
